<ion-item-group>
  <ion-item-divider>
  </ion-item-divider>

  <ion-item-divider>
    <ion-label>
      <ion-text color="secondary">
        Titel (erforderlich)
      </ion-text>
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input autocapitalize="sentences" type="text" [(ngModel)]="bucket.title"></ion-input>
  </ion-item>

  <ion-item-divider>
    <ion-label>
      <ion-text color="secondary">
        Notizen
      </ion-text>
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input type="text" [(ngModel)]="bucket.notes"></ion-input>
  </ion-item>

  <ion-item-divider>
    <ion-label>
      <ion-text color="secondary">
        Datum
      </ion-text>
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-input type="date" [(ngModel)]="bucket.date" clearInput></ion-input>
  </ion-item>
</ion-item-group>

<ion-button style="margin-top: 5%; margin-bottom: 40%;" (click)="create()"> Erstellen </ion-button>