<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="confirmLogout()" shape="round" ion-button icon-only>
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Kartoffelhelix!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="updateBucketlist($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Aktualisieren" refreshingSpinner="crescent"
        refreshingText="Lade Buckets...">
      </ion-refresher-content>
  </ion-refresher>

  <buckets></buckets>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addBucket()">
      <ion-icon class="whiteIcon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>