<div *ngIf="editableBucket">
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-input style="font-size: 2.5em;" placeholder="fehlender Titel" class="ion-text-center bucketTitle"
        [(ngModel)]="editableBucket.title">
      </ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center">
      <ion-chip style="font-size: 1.5em;" [color]="getStatusColor()" (click)="toggleDone()">
        <ion-label [color]="getStatusColor()">{{getStatusText()}}</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>

  <ion-item-group>
    <ion-item-divider>
    </ion-item-divider>

    <ion-item-divider>
      <ion-label>
        <ion-text color="secondary">
          Datum
        </ion-text>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-datetime cancel-text="Abbrechen" [pickerOptions]="pickerOptions"
        dayNames="[Sonntag, Montag, Dienstag, Mittwoch, Donnerstag, Freitag, Samstag]" displayFormat="DDDD, DD.MM.YYYY"
        placeholder="Kein Datum ausgewählt" [(ngModel)]="editableBucket.date" (ionChange)="formatDate()">
      </ion-datetime>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        <ion-text color="secondary">
          Notizen
        </ion-text>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-textarea rows="4" cols="20" [(ngModel)]="editableBucket.notes" placeholder="Keine Notizen ...">
      </ion-textarea>
    </ion-item>
  </ion-item-group>
</div>