<ion-searchbar placeholder="Buckets filtern" [(ngModel)]="searchTerm" (ionChange)="filterBuckets()"></ion-searchbar>

<ion-list *ngIf="bucketList.length > 0 && initializedWithData">
  <ion-item *ngFor="let bucket of bucketList" (click)="viewBucket(bucket)">
    <ion-text>
      <h1> {{bucket.title}} </h1>

      <ion-text color="medium">
        <h4> {{bucket.notes}} </h4>
      </ion-text>

    </ion-text>
  </ion-item>
</ion-list>

<div *ngIf="bucketList.length == 0 && initializedWithData" class="ion-text-center" style="margin-top: 20%;">
  <ion-text color="medium">
    <h1>Keine Buckets gefunden!</h1>
  </ion-text>
</div>

<div *ngIf="!initializedWithData">
  <ion-spinner class="ion-text-center" name="crescent"></ion-spinner>
</div>