<ion-list>
  <ion-item-sliding *ngFor="let bucket of allBuckets" (click)="viewBucket(bucket)" >
    <ion-item-options side="start">
      <ion-item-option> Erledigt! </ion-item-option>
    </ion-item-options>

    <ion-item>
      <ion-text>
        <h1> {{bucket.title}} </h1>

        <ion-text color="medium">
          <h4 *ngIf="bucket.notes"> {{bucket.notes}} </h4>
          <h4 *ngIf="!bucket.notes"> Keine Notizen ... </h4>
        </ion-text>

      </ion-text>
    </ion-item>
  </ion-item-sliding>
</ion-list>