<div *ngIf="activeBucket">
  <ion-item-divider>
  </ion-item-divider>

  <ion-item-divider>
    <ion-label>
      <ion-text color="secondary">
        Bilder
      </ion-text>
    </ion-label>

  </ion-item-divider>

  <ion-button (click)="takePicture()" style="margin-left: 10%; margin-right: 4%; width: 38%;"> Foto machen </ion-button>
  <ion-button (click)="choosePicture()" style="width: 38%;"> Gallerie </ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let imageObj of activeBucket.images">
        <ion-img (click)="viewPicture(imageObj)" [src]="imageObj.image"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>