<ion-header>
  <ion-toolbar>
    <ion-title>Authentifizierung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider>
    </ion-item-divider>

    <ion-item-divider>
      <ion-label>
        <ion-text color="secondary">
          Benutzername
        </ion-text>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item-divider>

      <ion-label>
        <ion-text color="secondary">
          Passwort
        </ion-text>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-item-group>

  <ion-button style="margin-top: 10%; position: fixed;" (click)="login()"> Login! </ion-button>
</ion-content>