<ion-header>
  <ion-toolbar>
    <ion-title>Bucketz Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Benutzername</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Passwort</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button (click)="login()"> Login! </ion-button>

  <ion-text> {{loginError}} </ion-text>
</ion-content>
