<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider>
    </ion-item-divider>

    <ion-item-divider>
      <ion-label>Benutzername</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item-divider>
      <ion-label>Passwort</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-item-group>

  <ion-button (click)="login()"> Login! </ion-button>
</ion-content>