<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bucket-overview"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deleteBucket()" shape="round" ion-button icon-only>
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button *ngIf="bucketEditor.wasBucketEdited()" (click)="saveBucket()" shape="round" ion-button icon-only>
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bucket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <bucket-editor></bucket-editor>
</ion-content>